* {
    padding: 0;
    margin: 0;
}

body {
    /* margin: auto; */
    align-items: center;
    background-color: #3f4238;
    color: #FFE8D6;
    font-family: 'PT Mono', monospace;
    /* margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px; */
    /* margin-left: 50px; */
    /* margin: 40px; */
    margin: 30px;
    overflow-wrap: break-word;
}

h1 {
    text-shadow: 2px 4px #000000;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    font-size: 32px;
    /* color: #808080; */
    text-shadow: #808080 2px 4px;
}

p {
    font-size: 24px;
    padding-left: 15px; 
    padding-bottom: 20px;
}

img {
    display: block;
    width: 150px;
    margin: auto;
    border: #DDBEA9 5px solid;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 50px;
} 

img:hover {
    border: #583101 10px solid;
}

footer p {
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link {
    font-size: 11px;
    text-align: center;
    padding-bottom: 30px;
    color: #FFE8D6;
}

nav {
    background-image: url("../images/bg.jpeg"); 
    align-items: center; 
	border: 2px solid #6B705C;
	/* padding-top: 20px;
    padding-bottom: 20px; */
    min-width: 250px;
    padding: 20px;
    height: auto;
}

nav li {
    font-size: 25px;
	background-color: #BAA587;
	padding: 10px; 
	width: auto;
	border: 3px solid #583101;
	display: block;
    color: #FFE8D6;
}

nav li a {
    color: #1a2203;
}

nav li a:visited {
    color: #424539;
}

nav li.active {
    background-color: #ffe8d6;
    border: dotted #424539 3px;
}

nav li:hover {
    background-color: #ffe8d6;
}

input, textarea {
    display: block;
    padding: 5px;
    margin-bottom: 20px;
}

textarea {
    margin-bottom: 25px;
}

label {
    font-size: 25px;
    /* padding-bottom: 10px; */
}

legend {
    font-size: 40px;
    text-shadow: 2px 4px #000000;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.checkbox {
    display: inline-block;
    margin-left: 15px;
}

.submit {
    padding: 5px;
}

.cbTXT {
    font-size: 20px;
}

a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
  
a.skip:focus {
    top:20px;
    color: black;
    text-decoration-style: solid;
}

/* footer {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 33% 66%;
    padding: 10px;
    border: solid black 1px;
}

.footer_text {
    display: block;
    grid-area: 1 / span 4 / 1 / span 2;
}

footer i {
    border: solid black 1px;
    display: inline-block;
    grid-area: 2 / span 1 / 1 / span 1;
    
}

footer p {
    display: inline-block;
    border: solid black 1px;
    grid-area: 1 / span 1 / 2 / span 1; 

} */

footer {
    display: grid;
    grid-template: 1fr 1fr / repeat(20, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: solid black 1px; */
}

.footer_text {
    display: inline-block;
    grid-area: 1 / 1 / span 2 / span 20;
}

.spotify {
    display: inline-block;
    grid-area: 2 / 10 / span 1 / span 1;
    /* color: #1DB954; */
}

.fa-spotify {
    padding-left: 20px;
    color: #5BBD7C;
}

.fa-spotify:visited {
    color: #5BBD7C;
}

.appleMusic {
    display: inline-block;
    grid-area: 2 / 11 / span 1 / span 1;
    /* color: #f94c57; */
}

.fa-music:visited {
    color: #f94c57;
}

.fa-music {
    color: #f94c57;
    padding-left: 9px;
}

.youtube {
    display: inline-block;
    grid-area: 2 / 12 / span 1 / span 1;
    /* color: #FF0000; */
}

.fa-youtube:visited {
    color: #FF3434;
}

.fa-youtube {
    color: #FF3434;
    padding-left: 17px;
}

footer a {
    padding-left: 7px;
    padding-right: 7px;
    color: #ffe8d6;
}

footer a:visited {
    color: #ffe8d6;
}

footer i {
    padding-bottom: 3px;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#flex-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column-reverse */
}

.flex-items {
    display: block;
    max-width: 270px;
    height: auto;
    border: #583101 dotted 20px;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    margin-top: 30px;
}

#grid-container {
    display: grid;
    grid-template: repeat(9, auto) / auto auto;
    justify-content: center;
    grid-auto-flow: row;
    /* grid-template-rows: repeat(9, 1fr); */
    /* width: 50px; */
    /* width: auto; */
    /* right: 100px; */
}

.grid-items {
    max-width: 100px;
    height: auto;
    border: #583101 dotted 20px;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    margin-top: 30px;
} 

.grid-items img {
    max-width: 80px;
    border-radius: 35px;
} 

.typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid transparent; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }

#guessTitle {
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}

#lyric {
    font-size: 35px;
    text-align: center;
    text-decoration: #583101 5px underline;
    padding: 10px;
    margin: 20px;
}

#guess, #submitGuess, #refresh {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#submitGuess, #refresh {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: #DDBEA9;
}

#form {
    border: #583101 dotted 15px;
    margin: 10px;
}

#par {
    background-image: url("../images/par_bg.jpeg");
    background-color: #583101;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 50px;
}

.flip-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 150px;
    height: 200px;
    perspective: 1000px; 
    margin-bottom: 15px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
.flip-card-front {
    /* background-color: #bbb; */
    color: black;
}
  
.flip-card-back {
    background-color: #583101;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    padding-right: 10px;
}

/* .flip-card.focus-within .flip-card-inner{
    transform: rotateY(180deg);
} */

@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:  transparent}
}

@media only screen and (prefers-reduced-motion: reduce) {
    img:hover {
        animation: none;
    }

    /* .flip-card {
        animation: none;
    } */

    .flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner{
        transform: none;
    }

    .typewriter h1 {
        animation: none;
    }

    #par {
        background-attachment: scroll;
    }

}

/* 

FOR BIG SCREEN LATER USE

body {
    background-color: #3f4238;
    color: #FFE8D6;
    font-family: 'PT Mono', monospace;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

img {
    display: block;
    width: 350px;
    margin: auto;
    border: #DDBEA9 10px solid;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 50px;
}

*/

@media only screen and (min-width: 650px) {
    .grid-items {
        min-width: 40vw;
    }

    .grid-items img {
        min-width: 35vw;
        min-height: 20vh;
        border-radius: 35px;
        align-self: center;
    } 

    .nav {
        /* display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem; */

        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }

    nav li {
        font-size: 15px;
        display: inline-block;
        overflow-wrap: break-word;
        /* max-width: 120px;
        min-height: 50px;
        
        width: auto;
        justify-items: center;
        justify-content: space-between; */
    }

    .nav-item {
        padding: 6px;
        margin: 3.5px;
    }

    #a {
        flex: 2 2;
    }

    #b {
        flex: 2 2;
    }

    #e {
        flex: 2 2;
    } 

    #f {
        /* align-self: center; */
        flex: 2 2;
    }

@media only screen and (min-width: 1000px) {

    .grid-items {
        min-width: 40vw;
    }

    .grid-items img {
        min-width: 25vw;
        /* min-height: 20vh;
        border-radius: 35px;
        align-self: center; */
    } 

    .nav {
        /* display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem; */

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: stretch;
    }

    nav li {
        font-size: 20px;
        display: inline-block;
        /* justify-content: right; */
        /* max-width: 120px;
        min-height: 50px;
        
        width: auto;
        justify-items: center;
        justify-content: space-between; */
    }

    .nav-item {
        width: 10vw;
        padding: 10px;
        margin: 5px;
    }

    #a {
        flex: 0 0;
    }

    #b {
        flex: 0 0;
    }

    /* #c {
        align-self: center;
        flex: 0 0 200px;
    }

    #d {
        align-self: center;
        flex: 0 0 200px;
    }  */

    #e {
        flex: 0 0;
    } 

    #f {
        /* align-self: center; */
        flex: 0 0;
    }


/* @media only screen and (min-width: 600px) {

    nav {
        display: grid;
        grid-template: auto auto auto / auto auto ;
        background-image: url("../images/bg.jpeg"); 
        background-size: 10000px;
        align-items: center; 
        border: 2px solid #6B705C;
        padding-top: 20px;
        padding-bottom: 20px;
        background-repeat: no-repeat;
    }

    nav li {
        grid-template-rows: span 1;
        font-size: 20px;
        background-color: #BAA587;
        padding: auto;
        width: 25%;
        min-height: 100px;
        margin: auto;
        border: 3px solid #583101;
        display: inline-block;
        color: #FFE8D6;
    } 

}

@media only screen and (min-width: 900px) {

    nav {
        background-image: url("../images/bg.jpeg"); 
        background-size: 10000px; 
        align-items: center; 
        border: 2px solid #6B705C;
        padding-top: 20px;
        padding-bottom: 20px;
        background-repeat: no-repeat; 
    }

    nav li {
        font-size: 25px;
        background-color: #BAA587;
        padding: 10px;
        width: 33%;
        height: 50px;
        margin: auto;
        border: 3px solid #583101;
        display: inline-block;
        color: #FFE8D6;
    }  */

}
